/*common styles*/
body {
    background: url(../img/bg.jpg) no-repeat center top #310b28;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    font-size: 12px;
    margin: 0 auto;
    color: #0e4354;
}

#page {
    margin: 0px auto;
    width: 900px;
    padding: 0px 0 0px 0;
}

h3 {
    font-size: 18px;
    color: #256c89;
    font-weight: normal;
    padding: 15px 0 5px 20px;
    margin: 0px;
    float: left;
    clear: both;
}

label {
    font-size: 11px;
    font-weight: bold;
    color: #666;
    float: right;
}

.error_main {
    font-size: 11px;
    font-weight: bold;
    color: red;
}

.inputText {
    font: 12px/15px Arial, Helvetica, sans-serif;
    float: left;
}

.inputBig {
    width: 250;
}

.button {
    background: #298ad1;
    border: 2px solid #eee;
    overflow: hidden;
    width: 125px;
    display: block;
    text-align: center;
    line-height: 38px;
    text-decoration: none;
    color: white;
    /*Скругленные углы*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /*Градиент*/
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    /*Переход*/
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}

.button:hover {
    background-color: #2facff;
}

/*header styles*/
.header {
    width: 900px;
    height: 100px;
}

.logo {
    float: left;
    padding: 35px 0 0 0;
}

.right_header {
    width: 350px;
    float: right;
    text-align: right;
    color: #FFFFFF;
    padding: 40px 0 0 0;
}

.right_header a{
margin:0 5px 0 5px;
text-decoration:underline;
color:#FFFFFF;
}

.right_header a.messages {
    background: url(../img/comment.png) no-repeat right;
    padding-right: 20px;
}

.right_header a.logout {
    background: url(../img/user_logout.png) no-repeat right;
    padding-right: 20px;
}
/*login page styles*/
.header_login {
    width: 600px;
    margin: auto;
}

.login_form {
    width: 600px;
    height: auto;
    background-color: white;
    margin: 20px 0 0 145px;
    float: left;
    padding: 0px 0 0 0px;
    /*Скругленные углы*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /*Градиент*/
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

a.forgot_pass {
    float: right;
    color: #256c89;
    text-decoration: none;
    background: url(../img/help.png) no-repeat left;
    padding: 0 0 0 18px;
    display: block;
    margin: 15px 20px 0 0;
}

a.registration {
    color: #256c89;
    text-decoration: none;
    padding: 0 0 0 18px;
    font-size: 12px;
    font-weight: bold;
    float: right;
}

.rememberMe {
    position: relative;
    float: none;
    bottom: 2px;
}